name: Xodium CI/CD
run-name: "Xodium CI/CD"

on: { push: { branches: [ main ], paths: [ "src/**" ] }, workflow_dispatch }

permissions: { contents: write, packages: write }

concurrency:
  {
    group: "${{ github.workflow }}-${{ github.ref }}",
    cancel-in-progress: true,
  }

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      {
        name: "${{ github.ref_name }}",
        url: "${{ steps.upload_artifact.outputs.artifact-url }}",
      }
    outputs: { VERSION: "${{ steps.get_version.outputs.VERSION }}" }
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@main

      - id: setup_rust
        name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9d7e65c320fdb52dcd45ffaa68deb6c02c8754d9
        with: { toolchain: stable }

      - id: build_artifact
        name: Build Artefact
        run: cargo build --release

      - id: install_toml_cli
        name: Install toml-cli
        run: cargo install toml-cli

      - id: get_version
        name: Get Version
        run: echo "VERSION=$(toml get Cargo.toml package.version | tr -d '\"')" >> $GITHUB_OUTPUT

      - id: upload_artifact
        name: Upload Artifact
        uses: actions/upload-artifact@main
        with: { name: xbim, path: target/release/xBIM }

  test:
    needs: [ build ]
    runs-on: ubuntu-latest
    environment:
      {
        name: "${{ github.ref_name }}",
        url: "${{ steps.upload_artifact.outputs.artifact-url }}",
      }
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@main

      - id: setup_rust
        name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@9d7e65c320fdb52dcd45ffaa68deb6c02c8754d9
        with: { toolchain: stable }

      - id: run_tests
        name: Run Tests
        run: cargo test --all

  release:
    needs: [ build, test ]
    runs-on: ubuntu-latest
    environment:
      {
        name: "${{ github.ref_name }}",
        url: "${{ steps.create_release.outputs.url }}",
      }
    steps:
      - id: download_artifact
        name: Download Artefact
        uses: actions/download-artifact@main
        with: { name: xbim }

      - id: create_release
        name: Create Release
        uses: softprops/action-gh-release@37fd9d0351a2df198244c8ef9f56d02d1f921e20
        env: { GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}" }
        with:
          draft: ${{ contains(github.event.head_commit.message, '.draft') }}
          generate_release_notes: true
          prerelease: ${{ contains(github.event.head_commit.message, '.pre') }}
          tag_name: v${{ needs.build.outputs.VERSION }}
          files: xBIM
